.vscode/*
.vscodeignore
browsechat.code-workspace
out
dist
types/
**/.env
node_modules
package.json
.vscode-test/
test-workspace
*.vsix
.bak
.sonarlint
.vscode-test/**
vsc-*.md
coverage
coverage
!docs/extension
cucumber-runner.cjs
cucumber.cjs
mochaExplorer.log
package-lock.json
package.json.windsurf
tsdoc.log
webpack-issues.md
webpack.clean.log
webpack.log
behaviour/cucumber-report.json
tests/jest-issues.md
scripts/clean-webpack-log.js
docs/.gitignore
docs/sample.md
docs/source/introduction.md
